/* Global Styles */
body {
    font-family:  Georgia, 'Times New Roman', Times, serif, sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
}

/* Heading Styles */
h1, h3{
    color: #2a2b6f; /* Dark blue */
    padding: 15px;
}

h2 {
    color: #f59f1d; /* Yellow */
    font-style: bold;
    font-weight: 600;
}
/*Paragraph Styles*/
p{
    color: #2a2b6f; /* Dark blue */

}

/* top bar styles
univerisal*/
.top-bar {
    background-color: #ddd; 
    color: #2a2b6f;
    padding: 5px 20px;
    font-size: 14px;
    text-align: right;
}

/* Section Styles */
section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}

section:hover {
    background-color: #f9f9f9; 
}

/* Navigation Styles */
#section-nav {
    background-color: #f4f4f4; /* Background color */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow */
  }
  
  #section-nav-title {
    color: #333; /* Title color */
    margin: 0 0 10px; /* Bottom margin */
  }
  
  .section-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .section-links li {
    margin-bottom: 5px; /* Spacing between items */
  }
  
  .section-links li a {
    color: #555; /* Link color */
    text-decoration: none;
    display: block;
    padding: 8px 15px; /* Padding */
    border-radius: 3px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .section-links li a:hover {
    background-color: #ddd; /* Background color on hover */
  }
  #imgRRR{
    height: auto;
    width: 100%;
  }
/*bootstrap navbar */
.navbar-nav .nav-item {
    margin-bottom: 10px; /* Add margin between each nav item */
}

.navbar-nav .nav-link {
    padding: 10px 15px; /* Add padding around each nav link */
    color: #eeeeee;
    word-wrap: break-word; /* Force the link text to wrap onto multiple lines if needed */
}
#Transportation {
    padding-right: 15px;
}

.navbar-nav .nav-link:hover {
    background-color: #2c3e50 !important; /* Change the background color on hover */
}

/* Container Styles */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.container img{
    width: 100px;
    height: auto;
}


/* Benefits Section Styles
    Specific to HomePage */
.benefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefit {
    flex-basis: 48%;
    margin-bottom: 20px;
}
/* Avalible ISP's section
Specific to applying page*/
.isp-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Adjust as needed */
}

.isp-list li {
    width: 45%; /* Adjust width as needed */
    margin-bottom: 20px; /* Add margin between rows */
}


/* Style for the contact container
Contact Page */
.contact-container {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between;
}

/* Style for the contact info
footer */
.contact-info {
    margin-right: 20px; /* Add spacing between contact info and form */
    display: inline-block; /* Make the div only as wide as the content */

}
.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for the form container
faq/contact */
.form-container {
    flex: 1;
}

/*Footer Universal*/
footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    overflow-x: hidden;
    border: 1px solid #ddd
}
/*Footer Universal*/
.footer-nav ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

/*Footer Universal*/
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px;
    
}

/*Footer Universal*/
.FCCACPlogo img{
    width: 175px
}

/*Footer Universal*/
.Clientlogo img{
    width: 100px
}

/*Footer Universal*/
.footer-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

/*Footer Universal*/
.footer-links a:hover {
    text-decoration: underline;
}

/*Footer Universal*/
.footer-logos img {
    width: 100px; /* Adjust size as needed */
    margin-right: 20px;
    padding-left: 50px;
}

/*Footer Universal*/
.social-media a {
    margin-right: 10px;
}

/*Footer Universal*/
.social-media img {
    width: 50px; 
    height: auto; 
}
/*Footer Universal*/
.copyright {
    text-align: center;
    margin-top: 20px;
}

.HeaderLogo img{
    width: 150px;
    height: auto;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
}

/* Add CSS for the paragraphs */
.paragraphs {
    flex: 1; /* Take up remaining space */
}

/* Add CSS for the image wrapper */
.image-wrapper {
    margin-top: 10px; /* Add some top margin for spacing */
}

/* Add CSS for the image */
#imgGOALS {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    min-width: 200px; /* Set a minimum width for the image */
}

#imgHHW {
    width: 100%;
    max-width: 1080px; /* Set the maximum width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
}
#imgRECYCLE {
    width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 5px; /* Add a border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.centered-links {
    text-align: center;
}

.centered-links a {
    text-decoration: none;
    color: #2a2b6f; /* Dark blue */
    margin: 10px; /* Add some space between the links */
}
#recycleLINK{
    text-decoration: none;
    color: #2a2b6f; /* Dark blue */
    margin: 10px; /* Add some space between the links */
}
#recycleLINK a:hover {
    text-decoration: underline;
}
.centered-links a:hover {
    text-decoration: underline;
}
/* Adjust the first image in the carousel */
#carouselExampleControls .carousel-item img {
    object-fit: cover;
}
#carouselExampleControls2 .carousel-item img {
    object-fit: cover;
}
.carousel-inner img {
    max-height: 750px; /* Adjust the maximum height as needed */
}

/* Responsive Styles 
Check on nav bar need a differnet size to horiz Verti
*/
@media screen and (max-width: 768px) {
    .benefit {
        flex-basis: 100%;
    }
    nav ul {
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items vertically */
    }
    .contact-container {
        flex-direction: column; /* Stack items vertically */
        align-items: stretch; /* Stretch items vertically */
    }

    .contact-info {
        margin-right: 0; /* Remove margin */
        margin-bottom: 20px; /* Add margin between contact info and form */
    }

    header {
        padding: 10px 0; /* Adjusted padding */
    }
    nav ul li a {
        padding: 8px; /* Adjusted padding */
    }
    .footer-logos img {
        width: 80px; /* Adjusted size for footer logos */
        margin-right: 10px; /* Adjusted margin */
    }
    .social-media img {
        width: 50px; /* Adjusted size for social media icons */
        margin-right: 5px; /* Adjusted margin */
    }
    .isp-list li {
        width: 100%; /* Set width to 100% for smaller screens */
        margin-bottom: 10px; /* Reduce margin between rows */
    }
    #imgGOALS {
        min-width: 100px; /* Adjust minimum width for smaller screens */
    }
    .image-collection img {
        flex-basis: 45%; /* Adjust image width for smaller screens */
    }
}
